@charset "UTF-8";
/* ボックスのサイズ設定ルール */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* デフォルトのマージンを削除します */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* リストロールを持つul、ol要素のリストスタイルを削除します。これは、デフォルトのスタイルが削除されることを示唆しています */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* コアルートのデフォルトを設定します */
html:focus-within {
  scroll-behavior: smooth;
}

/* コアボディのデフォルトを設定します */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* クラスを持たない要素はデフォルトのスタイルを取得します */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* 画像の操作を簡単にします */
img,
picture {
  max-width: 100%;
  display: block;
}

/* 入力とボタンのフォントを継承します */
input,
button,
textarea,
select {
  font: inherit;
}

/* 見たくない人のためにすべてのアニメーションとトランジションを削除します */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  font-family: "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", "Yu Mincho Light", YuMincho, "Yu Mincho", 游明朝体, sans-serif;
}

h2 {
  font-size: 38px;
  font-weight: 400;
  margin: 90px 0;
}

@media screen and (max-width: 1023px) {
  h2 {
    font-size: 24px;
    margin: 54px 0 0 0;
  }
}

h3 {
  font-size: 24px;
  font-weight: 400;
  margin: 25px 0 10px 0;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  color: #000000;
}

a:hover {
  opacity: .5;
  -webkit-transition: .3s;
  transition: .3s;
}

li {
  list-style: none;
  font-size: 18px;
  font-weight: 400;
}

@media screen and (max-width: 1023px) {
  li {
    font-size: 11px;
  }
}

p {
  cursor: default;
}

.header {
  width: 100%;
  height: 80vh;
  background-image: url(../img/main.png);
  background-size: cover;
  background-position: center;
  position: relative;
}

@media screen and (max-width: 1023px) {
  .header {
    height: 50vh;
  }
}

.header--wrapper {
  max-width: 1070px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  padding: 28px 0;
}

@media screen and (max-width: 1023px) {
  .header--wrapper {
    margin: 0 21px;
  }
}

.header--logo {
  width: 134px;
  height: 58px;
}

@media screen and (max-width: 1023px) {
  .header--logo {
    width: 90px;
    height: 40px;
  }
}

.header--logo:hover {
  opacity: .5;
  -webkit-transition: .3s;
  transition: .3s;
}

.header--nav__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1023px) {
  .header--nav__list {
    display: none;
  }
}

.header--nav__list li {
  margin: 0 30px;
}

.header--title {
  position: absolute;
  top: 50%;
  width: 100%;
  font-size: 48px;
  font-weight: 400;
  text-align: center;
}

@media screen and (max-width: 1023px) {
  .header--title {
    font-size: 24px;
  }
}

.humbergermenu {
  display: none;
}

@media screen and (max-width: 1023px) {
  .humbergermenu {
    display: inline-block;
  }
}

.notice--wrapper {
  text-align: center;
}

.notice--information {
  display: inline-block;
  text-align: left;
  width: 700px;
}

@media screen and (max-width: 1023px) {
  .notice--information {
    width: 95%;
  }
}

.notice--information ul {
  padding: 0;
}

.notice--information ul li {
  border-bottom: 1px solid #000000;
}

.notice--information ul li a {
  display: block;
  width: 100%;
  padding: 25px 0 30px 0;
}

.notice--item {
  font-size: 11px;
  border: 1px solid #000000;
  padding: 8px 9px;
  margin: 0 30px;
}

@media screen and (max-width: 1023px) {
  .notice--newline {
    display: block;
    font-size: 18px;
    margin-top: 17px;
  }
}

.example--wrapper {
  max-width: 1100px;
  margin: auto;
  text-align: center;
}

.example--wrapper h2 {
  text-align: center;
  padding: 32px;
}

.example--wrapper > a {
  display: inline-block;
  border: 1px solid #000000;
  padding: 10px 40px;
  font-size: 20px;
  margin: 80px 0 180px 0;
}

@media screen and (max-width: 1023px) {
  .example--wrapper > a {
    margin: 50px 0 100px 0;
  }
}

.example--wrapper > a h3 {
  margin: 0;
}

.example--contents {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1023px) {
  .example--contents {
    display: block;
  }
}

.example--contents__explain p {
  margin-bottom: 10px;
}

.example--contents__left {
  width: 50%;
  text-align: center;
}

@media screen and (max-width: 1023px) {
  .example--contents__left {
    width: 100%;
    margin-bottom: 50px;
  }
}

.example--contents__right {
  width: 50%;
  text-align: center;
}

@media screen and (max-width: 1023px) {
  .example--contents__right {
    width: 100%;
  }
}

.example--left__img {
  width: 430px;
  margin: auto;
}

@media screen and (max-width: 1023px) {
  .example--left__img {
    width: 700px;
  }
}

.example--right__img {
  width: 430px;
  margin: auto;
}

@media screen and (max-width: 1023px) {
  .example--right__img {
    width: 700px;
  }
}

.contents--left:hover {
  opacity: .5;
  -webkit-transition: .3s;
  transition: .3s;
}

.contents--left img {
  width: 300px;
  height: 45px;
  margin: auto;
}

.contents--right:hover {
  opacity: .5;
  -webkit-transition: .3s;
  transition: .3s;
}

.contents--right img {
  width: 300px;
  height: 45px;
  margin: auto;
}

.MainNav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1023px) {
  .MainNav {
    display: block;
  }
}

.vision:hover {
  opacity: .5;
  -webkit-transition: .3s;
  transition: .3s;
}

.recruit:hover {
  opacity: .5;
  -webkit-transition: .3s;
  transition: .3s;
}

.inquiry:hover {
  opacity: .5;
  -webkit-transition: .3s;
  transition: .3s;
}

footer {
  background-color: #000000;
  text-align: center;
}

footer p {
  color: #FEFEFE;
  font-size: 12px;
  line-height: 14px;
  padding-bottom: 7px;
}

.FooterNav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  padding: 28px 0;
}

@media screen and (max-width: 1023px) {
  .FooterNav {
    display: inline-block;
  }
}

.FooterNav--img {
  width: 93px;
}

.FooterNav--img:hover {
  opacity: .5;
  -webkit-transition: .3s;
  transition: .3s;
}

.FooterNav--list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1023px) {
  .FooterNav--list {
    display: block;
    padding: 0;
  }
}

.FooterNav--list li {
  padding: 0 25px;
}

@media screen and (max-width: 1023px) {
  .FooterNav--list li {
    padding: 15px 0;
    font-size: 18px;
  }
}

.FooterNav--list a {
  color: #FEFEFE;
}
